body 
{
    font-family: sans-serif;
    padding-top: 54px;
    padding-left: 50px;
    color: rgb(56, 83, 83);
}

h1, h2, h3, h4, h5, h6 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(139, 139, 55);
}

.fs11 {
    font-size: small;
}
  
.fs12 {
    font-size: medium;
}
  
.fs13 {
    font-size: 15px;
}
  
.fs14 {
    font-size: 16px;
}
  
.fs15 {
    font-size: 17px;
}
  
.fs16 {
    font-size: 19px;
}
  
.fs30 {
    font-size: 28px;
}

.mt0{
    margin-top: 0;
}
  
.mt10{
    margin-top: 10px;
}
  
.mt20{
    margin-top: 20px;
}
  
.mt30{
    margin-top: 30px;
}
  
.mt40{
    margin-top: 40px;
}
  
.mt50{
    margin-top: 50px;
}

.large-red-button {
    width: 100%;
    padding: 30px;
    border-color: darkgreen;
}
  
.nomargin {
    margin: 0 !important;
}
  
.intro h1 {
    font-size: 75px;
}
  
span.heading-name {
    color: rgb(74, 163, 163) !important;
}
  
.Akan-names h4, .akan-form h5 {
    color: rgb(66, 121, 89);
}
  